@import "reset.css";

/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




/*.................*/


/*colours*/
/*#F0FF51   #8512B6* #b0c925/

/**/
:root {
	--primary-colour: #8512B6;
	--text: #222;
	--white: #fff;
	--yellow: #F0FF51;
	--grey: rgba(0, 0, 0, 0.1);
}

body {
	background-color: #8512B6;
	font-family: "Roboto", sans-serif;
	color: var(--text);
}

html, body {
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	max-width: 1100px;
	margin-inline: auto;
	border: 1px solid red;

	overflow: hidden;
	min-height: 100vh;
}

a {
	transition: 0.3s;
}



/*style*/

.section__header {
	border: 2px dashed green;
	margin-bottom: 1rem;
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 4rem;
}

.section__header span {
	font-size: 4.5rem;
}

.section__description {
	margin-bottom: 2rem;
	line-height: 1.75rem;
	color: var(--white);
}

.btn {
	padding: 0.75rem 1.5rem;
	background-color: var(--yellow);
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}


/*img {
	display: flex;
	width: 100%;
}*/

/*img {

	filter: brightness(1.45);
}*/

.header {
	position relative;
	isolation: isolate;
}


nav {
	position: absolute;
	max-width: 1100px;
	width: 95%;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	/*padding: 2% 0.4%;*/
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

.navbar__logo {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

.navbar__links {
	position: absolute;
	right: 1rem;
	top: 95px;
	width: 95%;
	max-width: 350px;
	padding: 0.25rem;
	gap: 0.25rem;
	background-color: var(--yellow);
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  	display: none;

}

.navbar__links.open {
  display: grid;
}

.navbar__links a {
  display: block;
 /* width: 100%;*/
  padding: 0.75rem;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
}

.navbar__links a:hover {
  color: var(--white);
  background-color: var(--grey);
}


.navbar__btn {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.header__img {
	height: 100%;
	min-height: 500px;
	background-image: url(./assets/womandancing.jpg);
	filter: brightness(1.7);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom-left-radius: 23rem;
}

.header__content {
	padding-block: 5rem;
	padding-inline: 1rem;
	text-align: center;
	border: 1px dashed pink;

}






/*.....media queries......*/
@media (width > 768px) {
.section__wrapper {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, calc(1100px / 2))
      minmax(0, calc(1100px / 2))
      minmax(1rem, 1fr);
    align-items: center;
  }

  nav {
    padding: 1.5rem 1rem;
  }

  .header__img {
    grid-area: 1/3/2/5;
  }

  .header__content {
  	padding-inline: 0 2rem;
  	padding-block: 10rem 10rem; 
  	text-align: left;
  	grid-column: 2/3;

  }

}
