@import "reset.css";

/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




/*.................*/


/*colours*/
/*#F0FF51   #8512B6* #b0c925/

/**/
:root {
	--primary-colour: #8512B6;
	--black: #222;
	--white: #fff;
	--yellow: #F0FF51;
	--grey: rgba(0, 0, 0, 0.1);
}

body {
	background-color: #8512B6;
	font-family: "Roboto", sans-serif;
	color: var(--black);
}

html, body {
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	max-width: 1100px;
	margin-inline: auto;
	border: 1px solid red;

	overflow: hidden;
	min-height: 100vh;
}

a {
	transition: 0.3s;
}



/*style*/

.section__header {
	border: 2px dashed green;
	margin-bottom: 1rem;
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 4rem;
}

.section__header span {
	font-size: 4.5rem;
}

.section__description {
	margin-bottom: 2rem;
	line-height: 1.75rem;
	color: var(--white);
}

.btn {
	padding: 0.75rem 1.5rem;
	background-color: var(--yellow);
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}


/*img {
	display: flex;
	width: 100%;
}*/

/*img {

	filter: brightness(1.45);
}*/

.header {
	position relative;
	isolation: isolate;
}


nav {
	position: absolute;
	max-width: 1100px;
	width: 95%;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	/*padding: 2% 0.4%;*/
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

.navbar__logo, .logo {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

.navbar__links {
	position: absolute;
	right: 1rem;
	top: 95px;
	width: 95%;
	max-width: 350px;
	padding: 0.25rem;
	gap: 0.25rem;
	background-color: var(--yellow);
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  	display: none;

}

.navbar__links.open {
  display: grid;
}

.navbar__links a {
  display: block;
 /* width: 100%;*/
  padding: 0.75rem;
  white-space: nowrap;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
}

.navbar__links a:hover {
  color: var(--white);
  background-color: var(--grey);
}


.navbar__btn {
  padding: 0.2rem 1rem;
  font-size: 2rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.header__img {
	height: 100%;
	min-height: 500px;
	background-image: url(./assets/womandancing.jpg);
	filter: brightness(1.7);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom-left-radius: 23rem;
}

.header__content {
	padding-block: 5rem;
	padding-inline: 1rem;
	text-align: center;
	border: 1px dashed pink;

}


/*.....key-points styling....*/

.key-points__content {
	padding-block: 5rem;
	padding-inline: 1rem;
	border: 1px dashed pink;
}

/*

.key-points__video::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;

}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 400px;
	border-bottom-right-radius: 23rem;
	border-top-left-radius: 23rem;
}
*/

.key-points__video {
    position: relative;
    isolation: isolate;
    height: 100%;
    min-height: 400px;
    filter: brightness(200%);
    overflow: hidden;
}

.key-points__video video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-bottom-right-radius: 23rem;*/
		border-top-left-radius: 23rem;
		
}

.key-points__video::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }



.key-points__content .icon {
	font-size: 3rem;
	color: var(--yellow);
}

.key-points__card:not(:first-child) .icon{
	margin-top: 2rem;
}

.key-points__content h4 {
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	color: var(--white);

}

.key-points__content p {
	padding-bottom: 1rem;
	line-height: 1.75rem;
}

.key-points__card:not(:last-child) p {
	border-bottom: 2px dashed var(--white);
	opacity: 0.7;
}



/*.....lessons styling....*/

.lessons__img {
	position: relative;
	isolation: isolate;
	height: 100%;
	min-height: 400px;
}

.lessons__img::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(./assets/dancingchildren.jpg);
	filter: brightness(1.3);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.lessons__content {
	padding-block: 5rem;
	padding-inline: 1rem;
	text-align: center;
}


/*.....Review styling....*/

.review__wrapper {
	max-width: 1100px;
	margin-inline: auto;
	padding: 5rem 1rem;
	text-align: center;
}

.swiper {
	margin-top: 2rem;
	width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
	color: white;
}

.review__card {
	max-width: 600px;
	margin-inline: auto;
	padding: 2rem;
}

.review__card img {
	margin-bottom: 1rem;
	max-width: 150px;
	margin-inline: auto;
	border-radius: 100%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.review__card h4 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.review__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--yellow);
}

.review__card p {
  line-height: 1.75rem;
}

/*.....Footer styling....*/

.footer {
  background-color: var(--black);
}

.footer .logo{
  color: var(--white);
  margin-bottom: 2rem;
}


.footer__content {
  max-width: 1100px;
  margin-inline: auto;
  padding: 5rem 1rem;
  text-align: center;
}

.footer__content a img {
  margin-bottom: 2rem;
  margin-inline: auto;
  max-width: 60px;
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 9px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-colour);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--black);
  background-color: var(--white);
}

.footer__content p {
  color: var(--white);
  font-size: 0.9rem;
}



/*.....media queries......*/
@media (width > 768px) {
.section__wrapper {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, calc(1100px / 2))
      minmax(0, calc(1100px / 2))
      minmax(1rem, 1fr);
    align-items: center;
  }

  nav {
    padding: 1.5rem 1rem;
  }

  .header__img {
    grid-area: 1/3/2/5;
  }

  .header__content {
  	padding-inline: 0 2rem;
  	padding-block: 10rem 10rem; 
  	text-align: left;
  	grid-column: 2/3;

  }

  .key-points__video {
  	position: relative;
  	isolation: isolate;
  	grid-column: 2/3;
  	
  }

  .key-points__video video {
  	border-top-right-radius: 23rem;
		border-top-left-radius: 0rem;
		/*border-bottom-left-radius: 23rem;*/
  }

  .key-points__content {
	padding-block: 8rem;
	padding-inline: 1rem;
}

	.lessons__img {
		position: relative;
		isolation: isolate;
		grid-area: 1/3/2/5;
	}

	 .lessons__img::after {
    top: 8rem;
    max-width: 600px;
    background-position: left center;
    border-top-left-radius: 23rem;
    border-bottom-left-radius: 23rem;
  }

  .lessons__content {
    padding-inline: 0 2rem;
    padding-block: 8rem;
    text-align: left;
    grid-column: 2/3;
  }

  .review__wrapper {
  	padding-block: 10rem 5rem; 
  }

}
